{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<div id="cont" class= "height">
    <div  id="propos">
        
        <div>
            <img id="pictcreator" src="images/proprio.jpg" alt="Urbeco" />
        </div>
        
        <div id="creator">
            <h1 id="creatorname">Urbéco</h1>

            <p>Urbeco inc se spécialise dans la construction rénovation résidentielle commercial et industriel de tout genre en passant par refaire votre salle de bain de À  a Z à l’installation de porte et fenêtre , 
             refaire votre toiture que ce soit en bardeau d’asphalte en tôle ou pour une toiture végétal nous sommes la 
             Vous rechercher un clé en main, ou juste pour une soumission contactez-moi et il ne fera plaisir de parler de vos projets avec vous

            </p>
        </div>
    </div>
    
</div>
{% endblock %}
