{% extends 'base.html.twig' %}

{% block title %}Nos services {% endblock %}

{% block body %}

<section id="infoService">

<div class="service" >
    <p>Quels que soient vos projets ou besoin en terme de services,vous trouverez en URBÉCO INC un partenaire reconnu pour son approche professionnelle et son efficacité.</p>
 </div>   

 <div id="service1">   
    <ul>
        <li>Toiture en tout genre</li>
        <li>Porte et fenêtre</li>
        <li>Renovation</li>
        <li>Résidentiel, commercial et industriel</li>
        
    </ul>
</div>
<div id="service2">
    <ul>
        <li>Location de remorque</li>
        <li>Agrandissement</li>
        <li>Galerie</li>
        <li>Garage</li>
    </ul>
</div>    
</section>
{% endblock %}
